html, body {
    padding-top: 30px;
    height: 100%;
    margin: 0;
}

a {
    color: #00B7FF;
}
div.wrapper{
    min-height: 100%;
    position: relative;
}

div.content{
    padding-bottom: 4.2em;
    margin-bottom: 4.2em;
}

div.footer {
    position: absolute;
    bottom: 0px;
    min-height:100px;
    width:100%;
    color: white;
    margin-left: 0;
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#3c3c3c), to(#222));
    background-image: -webkit-linear-gradient(top, #3c3c3c, 0%, #222, 100%);
    background-image: -moz-linear-gradient(top, #3c3c3c 0, #222 100%);
    background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
}