extends ../main_layout

block content
    h1 New User
    form(role="form", class="form-horizontal", action="/users", method="post")
        div.form-group
            label(for="username", class="col-lg-2 control-label") Username
            div.col-lg-10
            input(id="username", type="text", class="form-control", placeholder="username", name="username")
        div.form-group
            label(for="password", class="col-lg-2 control-label") Password
            div.col-lg-10
            input(id="password",name="password", type="password", class="form-control", placeholder="password")
        button.btn.btn-default(type="submit") Save
