extends ../main_layout
block head
        title #{title}
        link(rel="stylesheet", href="/stylesheets/style.css")
block content
        h1 #{title}
        p Welcome aboard! Visit <a href="http://locomotivejs.org/">locomotivejs.org</a> for details