doctype 5
html
    head
        link(rel="stylesheet", href="/stylesheets/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/bootstrap-theme.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
        if(controllerName)
            link(rel="stylesheet", href="/stylesheets/controllers/" + controllerName + ".css")
            script(src="/javascript/controllers/"+controllerName+".js", type="text/javascript")
        script(src="/javascript/jquery.min.js", type="text/javascript")
        script(src="/javascript/bootstrap.min.js", type="text/javascript")

        block head
    body
        div.wrapper
            nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
                div.navbar-header
                    a.navbar-brand(href="#") Locomotive boilerplate app
                div.collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav
                        li.dropdown
                    - if(user){
                        div.btn-group.pull-right(style="margin-top:10px")
                            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown") Signed in as #{user.username}
                                span.caret(style="margin-left: 5px")
                            ul.dropdown-menu
                                li
                                    a(href="/user/show") My profile
                                li.divider
                                li
                                    a(href="/logout") Logout
                    - }
            div.row.content
                div.col-md-2.col-md-offset-1
                    p hello world
                div.col-md-6
                    div.content
                        block content
            div.footer
                p this is the footer
